{minimum_otp_vsn, "23.3"}.
{erl_opts, [debug_info]}.

{deps, [
    {rosie_rclerl, "*.",
        {git, "https://github.com/rosie-project/rosie_rclerl.git", {branch, "main"}}},
    {example_interfaces, {ros2, galactic}},
    {std_msgs, {ros2, galactic}},
    {geometry_msgs, {ros2, galactic}}
]}.

{project_app_dirs, ["demos/*"]}.

{relx, [
    {release, {talker, "0.1.0"}, [talker]},
    {release, {listener, "0.1.0"}, [listener]},
    % {sys_config, "./config/sys.config"},
    % {vm_args, "./config/vm.args"},
    {dev_mode, false},
    {include_erts, false},
    {extended_start_script, true}
]}.

{plugins, [
    erlfmt,
    {rosie_ros2_deps, "*.",
        {git, "https://github.com/rosie-project/rosie_ros2_deps.git", {branch, "master"}}},
    {rosie_interface_compiler, "*.",
        {git, "https://github.com/rosie-project/rosie_interface_compiler.git", {branch, "master"}}}
]}.

{provider_hooks, [
    {pre, [{compile, {rosie, compile}}]},
    {post, [{clean, {rosie, clean}}]}
]}.
